.table{
  background-color:black;
  border-color: transparent;  
  color: gold; 
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
html body.black div.container div.table-responsive table.table.table-hover thead{
  background-color: gold;
  color:black;
}
.table hover{
    background-color: gold;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: gold;
  color:black;
  }

  .body{
    background-color:black;
  }

  .table-responsive > h2:nth-child(2){
    color: black; 
  } 
  .table-responsive{
    color:black;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #8064A2;}
    .table > tbody > tr > td > a{
    color: swad
    }

    .table > tbody > tr > td > a-hover{
      color: #e60099
      }
      a:link {
        color: #00cca3;
    }
    
    /* visited link */
    a:visited {
        color:#ff1aff;
    }
    
    /* mouse over link */
    a:hover {
        color:#cc2900;
    }
    
    /* selected link */
    a:active {
      color: #cc2900;
    }


    html body.black div.table-responsive table.table.table-hover tbody tr td a input.btn.btn-primary{
      background-color: gold;
      color: rgb(0, 0, 0);
    }
    html body.black div.table-responsive table.table.table-hover tbody tr td a input.btn.btn-primary:hover{
      background-color: black;
      color:gold;
    }
    .img-thumbnail{
      border-color:black;
    }

    html body.black div.table-responsive table.table.table-hover thead{
      background-color: gold;
      color: rgb(0, 0, 0);
    }
    
    body > h2{
      color:gold;
    }